<!DOCTYPE html>
<html>
  <head>
    <title>ЛЕНТЫ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="css/materialdesignicons.min.css" rel="stylesheet"/>
    <link href="css/vuetify.css" rel="stylesheet"/>
  </head>

  <body>
    <div id="app" v-touch="{
      left:(e) => {
        log(e)
      }
    }">
      <v-app>
        <app-ui></app-ui>
        <v-content>
          <v-card color="#eee">
            <v-row class="flex-nowrap" style="overflow:scroll;background-color:#eee; scroll-snap-type: x mandatory;"  v-model="tabs" :key="">
              <v-col style="flex:1 1 400px; min-width:320px; scroll-snap-align: start;">
                <app-info></app-info>
              </v-col>
              <v-col style="flex:1 1 400px; min-width:320px; scroll-snap-align: start;" v-for="type in types" :key="type.type">
                <feed :type="type.type"></feed>
              </v-col>
            </v-row>
          </v-card>
        </v-content>
      </v-app>
    </div>
  </body>

  <script src="js/assets/moment-with-locales.min.js"></script>
  <script src="js/assets/gun.js"></script>
  <script src="js/lib/gun-synclist.js"></script>
  <script src="js/lib/gun-tag.js"></script>
  <script src="js/lib/webrtc.js"></script>
  <script src="js/assets/sea.js"></script>
  <script src="js/assets/vue.js"></script>
  <script src="js/assets/vuetify.min.js"></script>
  <script src="js/app.js" type="module"></script>
</html>
